<div class="row py-3">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active" href="/admin">Dashboard</a>
            <a class="list-group-item list-group-item-action" href="/admin/pages">Pages</a>
            <a class="list-group-item list-group-item-action" href="/admin/posts">Posts</a>
        </div>
    </div>
    <div class="col-md-8 my-3 my-md-0">
        <div class="list-group">
            <div class="list-group-item bg-primary text-white">
                <span>Overview</span>
            </div>
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="card flex-grow-1 mr-3 pt-3 text-center bg-light">
                        <h4><i></i> 12</h4>
                        <p>Pages</p>
                    </div>
                    <div class="card flex-grow-1 mr-3 pt-3 text-center bg-light">
                        <h4><i></i> 24</h4>
                        <p>Posts</p>
                    </div>
                    <div class="card flex-grow-1 pt-3 text-center bg-light">
                        <h4><i></i> 12,334</h4>
                        <p>Visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group my-3">
            <div class="list-group-item bg-primary text-white">
                <span>Action</span>
            </div>
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="card text-center px-2 px-sm-4 px-md-5 py-4 bg-light">
                        <h4> <a href="/posts/add">Add Post</a></h4>
                    </div>
                    <div class="card text-center px-2 px-sm-4 px-md-5 py-4 bg-light">
                        <h4><a href="/pages/add">Add Page</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>