<div id="dashboard">
  {{>_admin_header}}

  <div class="row py-3">
    <div class="col-md-12 my-3 my-md-0 mx-auto">
      <div class="list-group">
        <div class="list-group-item text-white dashboard-header">
          <span>Overview</span>
        </div>
        <div class="list-group-item">
          <div class="d-flex justify-content-sm-between">
            <div class="card flex-grow-1 mr-3 pt-3 text-center bg-white">
              <h4><i class="fa fa-file-alt"></i> 0 </h4>
              <p>Pages</p>
            </div>
            <div class="card flex-grow-1 mr-3 pt-3 text-center bg-white">
              <h4><i class="fas fa-pencil-alt"></i> 5 </h4>
              <p>Posts</p>
            </div>
            <div class="card d-none d-sm-block flex-grow-1 pt-3 text-center bg-white">
              <h4><i class="fa fa-align-left"></i> 12,334</h4>
              <p>Visits</p>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group my-3">
        <div class="list-group-item text-white dashboard-header">
          <span>Action</span>
        </div>
        <div class="list-group-item dashboard-item">
          <div class="d-flex justify-content-start">
            <div class="card text-center px-4 px-sm-4 px-md-5 pt-2 pt-sm-3 mr-3 mr-sm-4 bg-white">
              <a href="/posts/add"><i class="fa fa-plus-circle fa-3x action-icon"></i></a>
              <h5 class="pt-2 pt-md-3 pb-md-2">Post</h5>
            </div>
            <div class="card text-center px-4 px-sm-4 px-md-5 pt-2 pt-sm-3 bg-white">
              <a href="/pages/add"><i class="fa fa-plus-circle fa-3x action-icon"></i></a>
              <h5 class="pt-2 pt-md-3 pb-md-2">Page</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>