<div class="row">
    <div class="col-sm-12 col-md-4">
        <ul class="list-group list-unstyled">
            <li class="list-item">
                <a href="/posts"></a>
            </li>
            <li class="list-item">
                <a href="/posts"></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-8">

    </div>
</div>