<div id="signup_section" class="row justify-content-center align-items-center">
    <div class="col col-sm-12 col-md-8 col-lg-6 col-xl-5">
        <h4 class="text-center">Register Now</h4>
        <form action="/admin/signup" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password" placeholder="Password">
            </div>
            <input class="form-control btn btn-primary" type="submit" value="Signup">
        </form>
    </div>
</div>