<div class="row my-3">
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/admin"><i class="fa fa-cog"></i><span class="px-2">Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/posts"><i class="fa fa-pencil"></i><span class="px-2">Posts</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/pages"><i class="fa fa-file-alt"></i><span class="px-2">Pages</span></a>
      </li>
    </ul>
  </div>
</div>