<h1 class="py-3">Add Post</h1>
<div class="row">
    <div class="col-sm-12 mb-5">
        <form action="/posts" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" name="title" placeholder=" Title of the Post"
                    required>
            </div>
            <div class="form-group">
                <label for="">Header Image</label>
                <input id="upload_file" class="d-none" name="header_img" type="file">
                <button id="header_img-upload" class="btn btn-primary" type="button">CHOOSE A IMAGE</button>
                <span id="upload_text"><small>No file chosen</small></span>
            </div>
            <div class="form-group">
                <label for="title">Category</label>
                <input class="form-control" id="category" type="text" name="category" placeholder="Category of the Post"
                    required>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status">
                    <option value="published">Published</option>
                    <option value="unpublished">Unpublished</option>
                </select>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" name="allowComments" type="checkbox" checked id="checkbox">
                <label class="form-check-label" for="checkbox">Allow Comments</label>
            </div>
            <div class="form-group">
                <label for="post-body">Body </label>
                <textarea class="input-group" id="post-body" name="body" rows="20"
                    placeholder="Write what is in your mind"> </textarea>
            </div>
            <input class="form-control btn btn-dark" type="submit" value="Post">
        </form>
    </div>
</div>