<h1 class="py-3">Edit Post</h1>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
        <form action="/posts/{{post._id}}?_method=PUT" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" name="title" value="{{post.title}}"
                    placeholder=" Title of the Post" required>
            </div>
            <div class="form-group">
                <label for="title">Category</label>
                <input class="form-control" id="category" type="text" name="category" value="{{post.category}}"
                    placeholder="Category of the Post" required>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status">
                    {{#select post.status}}
                    <option value="published">Published</option>
                    <option value="unpublished">Unpublished</option>
                    {{/select}}
                </select>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" name="allowComments" type="checkbox" {{#if post.allowComments}} checked
                    {{/if}} id="checkbox">
                <label class="form-check-label" for="checkbox">Allow Comments</label>
            </div>
            <div class="form-group">
                <label for="post-body">Body </label>
                <textarea class="input-group" id="post-body" name="body" rows="6"
                    placeholder="Write what is in your mind" required>{{post.body}}</textarea>
            </div>
            <input class="form-control btn btn-dark" type="submit" value="Post">
        </form>
    </div>
</div>