<h1 class="my-3">{{post.title}}</h1>

<div class="card my-3 my-sm-4">
    <div class="">
        <img src="https://lorempixel.com/400/200" class="card-img" alt="...">
    </div>
    <div class="card-body">
        <p class="card-text">{{{post.body}}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>