/* sticky footer-bottom */

* {
    text-decoration: none !important;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans' !important;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', 'sans' !important;
}

.section_header {}

.post a {
    color: inherit !important;
}

.post {
    position: relative;
}

@media only screen and (min-width:768px) {
    .post .card {
        min-height: 390px;
    }
}

@media only screen and (min-width:992px) {
    .post .card {
        min-height: 370px;
    }
}

@media only screen and (min-width:1200px) {
    .post .card {
        min-height: 410px;
    }
}

.post-category {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 2px 6px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', 'sans' !important;
    border-radius: 3px;
}

.post-category:hover {
    background-color: rgb(224, 91, 73);
}

.post-header {
    font-size: 26px;
    line-height: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.no_underline {
    text-decoration: none !important;
}