/* sticky footer-bottom */
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
}

.no_underline {
    text-decoration: none !important;
}