<h1 class="py-3">HowToTech | Home</h1>

{{#each posts}}
<div class="card my-3 my-sm-4 p-sm-3">
    <div class="row no-gutters align-items-center">
        <div class="col-md-4">
            <img src="//lorempixel.com/400/200" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{body}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
{{/each}}