<h1 class="py-3 display-4">Latest Posts</h1>

<div class="my-3 my-sm-4">
    <div class="row">
        {{#each posts}}
        <div class="col-md-6 col-lg-4 py-3 py-sm-0 p-sm-3">
            <div class="post">
                <a href="/posts/show/{{_id}}">
                    <div class="card">
                        <img src="https://lorempixel.com/400/250" class="card-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>