<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="card-body">
            <form action="/posts/{{post._id}}?_method=DELETE" method="POST">
                <h3 class="py-3 lead">Confirm Delete</h3>
                <input class="btn btn-danger" type="submit" value="DELETE">
            </form>
        </div>
    </div>
</div>